/* div {
  border: 1px solid red;
} */

#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls {
  display: flex;
  flex-flow: column;
  width: 200px;
  min-width: 200px;
  justify-content: space-evenly;
  margin: 1em;
}

#buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  min-width: 130px;
}

button {
  display: block;
  width: 40%;
  padding: 0.5em;
  margin: 0.5em;
}

#renderBtn {
  width: 100%;
}

#sliders {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  min-width: 250px;
}

#overlay {
  border: 1px solid black;
  z-index: 1;
}

canvas {
  position: absolute;
}

.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 10px;
  background: darkslategray;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 10px;
  background: darkslategray;
  cursor: pointer;
}
