* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
span {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div {
  border: 0px solid red;
}
#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls {
}
#mainControls {
  display: flex;
}
#buttons {
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  max-width: 300px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
#buttonsSurround {
  padding-top: 20px;
}
button {
  display: block;
  width: 80%;
  height: 4em;
  padding: 0.5em;
  margin: 0.5em;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 1em;
  transition: box-shadow 0.1s;
}
.colorLabel {
  display: flex;
  width: 100%;
  padding: 3px;
  align-items: center;
  justify-content: flex-start;
}
/* input {
  transition: box-shadow 0.1s;
}
button:hover {
  box-shadow: 2px 2px 4px -1px gray;
}
input:hover {
  box-shadow: 2px 2px 4px -1px gray;
}
 */
#renderBtn {
  font-size: 1.5em;
}
#iterationSlider {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
.colorPicker {
  display: -webkit-box;
  display: flex;
  flex-direction: row;
}
#overlay {
  border: 1px solid black;
  z-index: 1;
}
canvas {
  position: absolute;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 16px;
  margin-bottom: 5px;
  background: #fff;
  outline: none;
  border: 1px solid #000;
  border-radius: 6px;
  transition: box-shadow 0.1s;
}
/* .slider:hover {
  box-shadow: 2px 2px 4px -1px gray;
}
 */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 12px;
  border-radius: 5px;
  background: #292a2b;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 15px;
  height: 10px;
  background: #292a2b;
  cursor: pointer;
}
.jscolor {
  display: inline-block;
  width: 40px;
  height: 20px;
  font-size: 0;
  border: 1px solid #000;
  cursor: default;
  margin: 0 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#fringeSliderSurround {
}
#fringeSliders {
  position: relative;
  margin-left: 20px;
  width: 90px;
  border: 1px solid #000;
  border-radius: 4px;
}
.sliderBox {
  position: absolute;
  width: 80px;
  height: 30px;
  border: 1px solid #666;
  border-radius: 6px;
  margin: 0 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dragBox {
  height: 30px;
  width: 30px;
  background-color: #666;
  border-radius: 0 6px 6px 0;
}
@media screen and (max-height: 525px) {
  #buttonsSurround {
    padding-top: 10px;
  }
  button {
    height: 3em;
    font-size: 1em;
    padding: 0.2em;
    margin: 0.3em;
  }
}
@media screen and (max-height: 400px) {
  #buttonsSurround {
    padding-top: 5px;
  }
  button {
    height: 2em;
    font-size: 0.8em;
    padding: 0;
    margin: 0.2em;
  }
}
@media screen and (orientation: portrait) {
  #container {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  #buttons {
  }
  #fringeSliderSurround {
  }
  #controls {
  }
  #mainControls {
  }
}
